body {
  color: white;
  margin: 0px;
}

header {
  border-botton: solid 2xp #15a5e3;
  padding: 20px;
  font_size: 50px;
  color: #45f5f0;

}

section {
  backgroud: #0628e9;
  padding-botton: 80px;
  display: flex;
  justify-content: center;
  
