body {
  color: white;
  background: black;
  margin: 0px;
  font-family: "Cinzel", serif;
}

header {
  border-botton: solid 2xp #15a5e3;
  padding: 20px;
  font_size: 40px;
  color: #45f5f0;

}

section {
  backgroud: #5c0909;
  padding-bottom: 80px;
  padding-top: 80px;
  display: flex;
  justify-content: center;

}

.texto {
  margin-right: 5%;
  {

  h1 {
    font-size: 40xp;

  }

  p {
    font-size: 20px;
  
  }
